
<div class="user">


<% if flash[:welcome]%>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <center> <h3><%=flash[:welcome]%></h3></center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%end%>



<div class= "write">
</div>
</div>
<%=gravatar_for @user%><br>
<%= render "shared/list"%>
<%if @user.playlists.any?%>


<%@playlist= @user.playlists.all%>
<div class="playlist bg-dark" >
<h2> <center>Your playlists </center></h2>

<div class= "listUpdate">
<%=render 'shared/playlist-container', object: @playlist %>
</div>
<%end%>


</div>


<div class= "flash">

</div>
