<div class="user">

<%=gravatar_for @user%>
<h1><%=@user.name%></h1>
<%= render "shared/list"%>
</div>




<div class="playlist">
<h2> Your playlist </h2>

<%=render 'shared/playlist-container'%>

</div>
