<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profile
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'Log out', logout_path , class:"dropdown-item", method: "delete" %>
    <%= link_to 'My profile' ,user_path,class:"dropdown-item" %>
    <%= link_to'Create playlist', playlist_create_path , class:"dropdown-item" %>
  </div>
</div>