<nav class="navbar navbar-dark bg-dark">
   <ul id= "menu" style="list-style-type:none;" class="navbar-nav mr-auto">
    <li class="nav-item">
     <%= link_to 'Home', root_path,  class:"btn btn-light"%>
      </li>
    <li> 
    <%= link_to "Sign up", signup_path, class:"btn btn-light" %> 
    </li>
    </ul>
    <input type="text" placeholder="Search.." class="btn btn-light">
</nav>