
<script>
$(".masha").click(function popup() {
  alert("masha");
});
function popup() {
  $( "p" ).empty();
}
</script>

<%if @song != nil%>

<% @song.each do |s|%>
        

<div>
<div class = "here" >
<p><%= s.name%></p> <br>
<%end%>
</div>
</div>


   
<%end%>





<p> Pusi ga </p>
<button class="masha" id="masha" onClick="popup()">alert</button>