





  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Artrist</th>
      <th scope="col">Song</th>
      <th scope="col">Album</th>
      
    </tr>
  </thead>
 
  <tbody>
  
   <%= render partial: 'play',object: @songs %>

</table>


<div class="btn-group dropright">
  <button type="button" class="btn btn-secondary">
    
  </button>
  <%=button_tag  class:"btn btn-secondary dropdown-toggle dropdown-toggle-split", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false" do%>
  <% octicon "chevron-down" %>

  <%end%>
    <span class="sr-only">Toggle Dropright</span>
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->


    sasas
  </div>
</div>





<%= button_tag  "sasas", class:"btn btn-secondary dropdown-toggle dropdown-toggle-split" do %>

<%octicon "chevron-down" %>

<%end%>
