





  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Artrist</th>
      <th scope="col">Song</th>
      <th scope="col">Album</th>
      
    </tr>
  </thead>
 
  <tbody>
  
   <%= render partial: 'play',object: @songs %>

</table>









