div.playlist{
     
    border-style: groove;
    border-width: thick;
    margin-top: -315px;
    float: right;
    width: 460px;
    margin-right: 223px;
}
div.user {
    margin: 20px;
    
}
svg.octicon{
    
  
    margin-left: 290px;
     
}

div.drop {
    
    background-color: white;
    block-size: fit-content;
    border-collapse: collapse;
   width: 10px;
}

button#button {
    width: 100px;
}
svg.octicon {
    

margin-left: 0px;

}
a {
    
    color: black;
}

a:hover{
 color : grey;
 text-decoration: none;
}