div.playlist{
     
    border-style: groove;
    border-width: thick;
   
    float: left;
    margin-top: px;
    width: 301px;
    margin-right: 223px;
    overflow:scroll;
    height:270px;
    color:white;
}
div.user {
    margin: 20px;
    
}
svg.octicon{
    
  
    margin-left: 290px;
     
}

div.drop {
    
    background-color: white;
    block-size: fit-content;
    border-collapse: collapse;
   width: 10px;
}

button#button {
    width: 100px;
}
svg.octicon {
    

margin-left: 0px;

}
a {
    
    color: black;
}

a:hover{
 color : grey;
 text-decoration: none;
}

body > header > header > table > tbody > tr > td.show > div > center {
    text-align: center;
    border-bottom: 1px;
    border-bottom-style: solid;
    height: 1cm;
    border-bottom-color:grey;
    
}
nav div div div div div form p span  {
   
    float: right;
    position: relative;
    padding-left: -3cm;
}

div#exampleModalLong {
    
   
   opacity: 0.8;
}
div.modal-body {
    background-color:#cccccc;
    
    color: black;
    height: 10cm;
   
   
}  

input#songInput{
    width: 1076px;
}
div#dropdownPlaylist {
    
    position: absolute;
}

div#PlaylistCreate {
height: 5cm;
}
div#PlaylistCreate .modal-body {
    height: 5cm;
}